<thead>
    <tr>
        <th scope="col">Nom / Email</th>
        <th class="no-wrap" scope="col">Admin <button type="button" class="tooltip-color" id="admin-collaborators-modal-btn" data-fr-opened="false" aria-controls="admin-collaborators-modal" data-fr-js-modal-button="true"><span class="fr-icon-information-line" aria-hidden="true"></span></button></th>
        <th class="no-wrap" scope="col">Aides <button type="button" class="tooltip-color" id="edit-aid-collaborators-modal-btn" data-fr-opened="false" aria-controls="edit-aid-collaborators-modal" data-fr-js-modal-button="true"><span class="fr-icon-information-line" aria-hidden="true"></span></button></th>
        <th class="no-wrap" scope="col">Portails <button type="button" class="tooltip-color" id="edit-portal-collaborators-modal-btn" data-fr-opened="false" aria-controls="edit-portal-collaborators-modal" data-fr-js-modal-button="true"><span class="fr-icon-information-line" aria-hidden="true"></span></button></th>
        <th class="no-wrap" scope="col">Fiche <button type="button" class="tooltip-color" id="edit-backer-collaborators-modal-btn" data-fr-opened="false" aria-controls="edit-backer-collaborators-modal" data-fr-js-modal-button="true"><span class="fr-icon-information-line" aria-hidden="true"></span></button></th>
        <th class="no-wrap" scope="col">Projets <button type="button" class="tooltip-color" id="edit-project-collaborators-modal-btn" data-fr-opened="false" aria-controls="edit-project-collaborators-modal" data-fr-js-modal-button="true"><span class="fr-icon-information-line" aria-hidden="true"></span></button></th>
        {% if userAdminOf is defined and userAdminOf %}
        <th scole="col"></th>
        {% endif %}
    </tr>
</thead>