@use 'remixicon/fonts/remixicon';
@use '../../_variables';
@use '../../_mixins';
@use '../../form/category-autocomplete-multiple';
@use '../../form/tom-select-override';
@use '../../form/entity-checkbox-absolute-type';
@use '../../form/label';
@use '../../component/at-deadline.scss';

.deadline.fr-tag {
    display: block;
    float: right;
    background-color: var(--background-active-blue-france);
    color: var(--text-inverted-blue-france);
    text-align: center;
}

#search-form-extra-fields {
    width: 100%;
    display: none;

    &.show {
        display: block;
    }
}

#logos-financers,
#logos-instructors,
#logos-programs {
    a {
        display: block;
    }
    img{
        max-width: 100%;
    }
}

.at-link__nodecorator {
    box-shadow: none;
}
