@use 'remixicon/fonts/remixicon';
@use '../../_variables';
@use '../../_mixins';
@use '../../form/category-autocomplete-multiple';
@use '../../form/tom-select-override';
@use '../../form/entity-checkbox-absolute-type';
@use '../../form/label';
@use '../../component/at-deadline.scss';

.vapp-test{
    background-color: #E5FCF7;

    .fr-icon-thumb-up-fill{
        &:before{
            width: 40px;
            height: 40px;
        }
        color: #58b77d;
    }
    .fr-icon-thumb-down-fill{
        &:before{
            width: 40px;
            height: 40px;
        }
        color: #e1000f;
    }

    button.btn-vote{
        display: flex;
        align-items: center;
        padding: 0.5rem;

        &.active{
            border: 1px solid #58b77d;
            border-radius: 5px;
        }
        span{
            margin: 0 10px 0 0;
        }
    }
}
.deadline.fr-tag {
    display: block;
    float: right;
    background-color: var(--background-active-blue-france);
    color: var(--text-inverted-blue-france);
    text-align: center;
}

#search-form-extra-fields {
    width: 100%;
    display: none;

    &.show {
        display: block;
    }
}

#logos-financers,
#logos-instructors,
#logos-programs {
    a {
        display: block;
    }
    img{
        max-width: 100%;
    }
}

.at-link__nodecorator {
    box-shadow: none;
}
