@use 'trumbowyg/dist/ui/trumbowyg.min';
@use '../../_variables';
@use '../../_mixins';
@use '../../form/tom-select-override';
@use '../../form/trumbowyg-override';
@use '../../form/category-autocomplete-multiple';
@use '../../form/entity-checkbox-absolute-type';
@use '../../form/input-length-counter';
@use '../../form/label';
@use '../../form/legend';
@use '../../form/display-content-type';


.at-field-label{
    font-weight: bold;
}

section#aid-edit #nav-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

#subvention-fields-collapse,
#loan-fields-collapse,
#recoverable-advance-fields-collapse,
#other-financial-aid-fields-collapse,
#calendar-fields{
    &.fr-collapse--expanded{
        margin: 0 0 1rem 0;
    }
}

.at-form-stepper {
    display: block;
    position: sticky;
    top: 0;
    z-index: 12;
    background-color: var(--background-alt-blue-france);

    @include mixins.is-mobile{
        display: none;
    }
}

.actions {
    border: solid 1px var(--border-action-high-blue-france);
}

.entity-checkbox-absolute-type-wrapper{
    .opener{
        white-space: normal!important;
    }
}