@import 'remixicon/fonts/remixicon.css';
@import '../../_variables';
@import '../../_mixins';
@import '../../form/tom-select-override';
@import '../../form/entity-checkbox-absolute-type';
@import '../../form/label';
@import '../../component/at-deadline.scss';
@import '_aid_metas';

#search-form-extra-fields{
    width: 100%;
    display: none;

    &.show{
        display: block;
    }
}

.badge-aid-associated {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;
    border-radius: 13px;
    border: 2px solid #fff;
    color: white;
    line-height: 25px;
    text-align: center;
    background: var(--background-flat-success);
    box-shadow: 0 0 0 3px var(--background-flat-success);

    &.in-absolute{
        position: absolute;
        z-index: 2;
        top: 5px;
        right: 5px;
        width: 35px;
        height: 35px;
        border-radius: 18px;
    }
}