@use 'remixicon/fonts/remixicon';
@use '../../_variables';
@use '../../_mixins';
@use '../../form/tom-select-override';
@use '../../form/entity-checkbox-absolute-type';
@use '../../form/label';
@use '../../component/at-deadline';
@use '../../component/favorite_button';
@use '_aid_metas';

#search-form-extra-fields{
    width: 100%;
    display: none;

    &.show{
        display: block;
    }
}
.badges-wrapper{
    padding: 0 0 1rem 0;
}

@keyframes highlightCard {
    0% {
        background-color: rgba(0, 145, 255, 0.2);
    }
    100% {
        background-color: transparent;
    }
}

.card-highlight {
    animation: highlightCard 2s ease-out;
}