.fr-input-group .trumbowyg-box .trumbowyg-editor {
    min-height: 16rem;
}

.trumbowyg-editor[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: #999;
}

.trumbowyg-box.trumbowyg-editor-visible .trumbowyg-textarea {
    display: none;
}