{% if topAidsViews %}
	<div class="fr-table fr-table--no-scroll">
		<div class="fr-table__wrapper">
			<div class="fr-table__container">
				<div class="fr-table__content">
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Aide</th>
								<th>Nombre de vues</th>
							</tr>
						</thead>
						<tbody>
							{% for topAidsView in topAidsViews %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>
										<a href="{{ topAidsView.url }}" target="_blank" title="Voir l'aide  - Ouvre une nouvelle fenêtre">{{ topAidsView.name }}</a>
									</td>
									<td>{{ topAidsView.nb }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endif %}
