
<div>
    <p>Modèle de fichier à respecter pour l'import de données d'aides :</p>
    <ul>
        <li><a href="{{ asset('build/docs/aid_import_template.xlsx') }}" download="aid_import_template.xlsx" title="Format Xslx">Format Xlsx</a></li>
        <li><a href="{{ asset('build/docs/aid_import_template.csv') }}" download="aid_import_template.csv" title="Format CSV">Format CSV</a></li>
    </ul>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Colonne</th>
            <th>Champ</th>
            <th>Description</th>
            <th>Restriction</th>
            <th>Exemple</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>A</td>
            <td>Nom de l'aide</td>
            <td>Le titre doit commencer par un verbe à l’infinitif pour que l’objectif de l’aide soit explicite vis-à-vis de ses bénéficiaires.</td>
            <td>
                <ul>
                    <li>Requis</li>
                </ul>
            </td>
            <td>Prime à la conversion</td>
        </tr>
        <tr>
            <td>B</td>
            <td>Programmes</td>
            <td>Les programmes associés à cette aide</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être le nom exact du programme voir <a href="{{ path('app_program_program') }}" target="_blank">la liste</a></li>
                    <li>Plusieurs programmes peuvent être séparés par des virgules</li>
                </ul>
            </td>
            <td>Action cœur de ville, 🇪🇺AGRIP - Promotion des produits agricoles</td>
        </tr>
        <tr>
            <td>C</td>
            <td>Nom initial</td>
            <td>Comment cette aide s’intitule-t-elle au sein de votre structure ?</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                </ul>
            </td>
            <td>Prime à la conversion</td>
        </tr>
        <tr>
            <td>D</td>
            <td>Porteurs</td>
            <td>Les porteurs de cette aide</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être le nom exact du porteur.</li>
                    <li>Plusieurs porteurs peuvent être séparés par des virgules</li>
                </ul>
            </td>
            <td>ADEME, Ademe — Direction régionale — Provence-Alpes-Côte d'Azur</td>
        </tr>
        <tr>
            <td>E</td>
            <td>Insctructeurs</td>
            <td>Les insctructeurs de cette aide</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être le nom exact de l'instructeur.</li>
                    <li>Plusieurs insctructeurs peuvent être séparés par des virgules</li>
                </ul>
            </td>
            <td>ADEME, Ademe — Direction régionale — Provence-Alpes-Côte d'Azur</td>
        </tr>
        <tr>
            <td>F</td>
            <td>Bénéficiaires de l'aide</td>
            <td>Les cibles de cette aide</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être le nom exact de la cible.</li>
                    <li>Plusieurs bénéficiaires peuvent être séparés par des virgules</li>
                </ul>
            </td>
            <td>Commune, Intercommunalité / Pays</td>
        </tr>
        <tr>
            <td>G</td>
            <td>Types d'aide</td>
            <td>Le type de l’aide</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être le nom exact du type.</li>
                    <li>Plusieurs types peuvent être séparés par des virgules</li>
                </ul>
            </td>
            <td>Subvention, Prêt</td>
        </tr>
        <tr>
            <td>H</td>
            <td>Taux de subvention, min. et max. (en %, nombre entier)</td>
            <td>Les taux de subventions, séparés par des virgules</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être un nombre</li>
                </ul>
            </td>
            <td>10,20</td>
        </tr>
        <tr>
            <td>I</td>
            <td>Taux de subvention commentaire</td>
            <td></td>
            <td>
                <ul>
                    <li>Optionnel</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>J</td>
            <td>Appel à projet / Manifestation d'intérêt</td>
            <td></td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li><strong>oui</strong> ou <strong>non</strong></li>
                </ul>
            </td>
            <td>oui</td>
        </tr>
        <tr>
            <td>K</td>
            <td>Description complète de l'aide et de ses objectifs</td>
            <td></td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Les sauts de lignes sont convservés</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>L</td>
            <td>Exemples de projets réalisables</td>
            <td></td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Les sauts de lignes sont convservés</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>M</td>
            <td>Thématiques de l'aide</td>
            <td>Sélectionnez la ou les thématiques associées à votre aide. N’hésitez pas à en choisir plusieurs.</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être le nom exact de la thématique.</li>
                    <li>Plusieurs thématiques peuvent être séparés par des virgules</li>
                </ul>
            </td>
            <td>Equipement public, Eau potable</td>
        </tr>
        <tr>
            <td>N</td>
            <td>Récurrence</td>
            <td>L’aide est-elle ponctuelle, permanente, ou récurrente</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être le nom exact de la récurrence.</li>
                </ul>
            </td>
            <td>Permanente</td>
        </tr>
        <tr>
            <td>O</td>
            <td>Date d'ouverture</td>
            <td>À quelle date l’aide est-elle ouverte aux candidatures ?</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit respecté le format dd/mm/YYYY</li>
                </ul>
            </td>
            <td>04/07/2024</td>
        </tr>
        <tr>
            <td>P</td>
            <td>Date de pré-dépôt</td>
            <td></td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit respecté le format dd/mm/YYYY</li>
                </ul>
            </td>
            <td>04/07/2024</td>
        </tr>
        <tr>
            <td>Q</td>
            <td>Date de clôture</td>
            <td>Quelle est la date de clôture de dépôt des dossiers ?</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit respecté le format dd/mm/YYYY</li>
                </ul>
            </td>
            <td>04/07/2024</td>
        </tr>
        <tr>
            <td>R</td>
            <td>Éligibilité</td>
            <td>Conditions d’éligibilité</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Les sauts de lignes sont convservés</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>S</td>
            <td>État d'avancement du projet pour bénéficier du dispositif</td>
            <td></td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être le nom exact de l'état d'avancement.</li>
                    <li>Plusieurs états peuvent être séparés par des virgules</li>
                </ul>
            </td>
            <td>Réflexion / conception, Mise en œuvre / réalisation, Usage / valorisation</td>
        </tr>
        <tr>
            <td>T</td>
            <td>Types de dépenses / actions couvertes</td>
            <td></td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être le nom exact du type / de l'action.</li>
                    <li>Plusieurs types / actions peuvent être séparés par des virgules</li>
                </ul>
            </td>
            <td>Dépenses de fonctionnement, Dépenses d’investissement</td>
        </tr>
        <tr>
            <td>U</td>
            <td>Périmètre</td>
            <td>La zone géographique sur laquelle l'aide est disponible.</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être le nom exact du périmètre.</li>
                </ul>
            </td>
            <td>Landes</td>
        </tr>
        <tr>
            <td>V</td>
            <td>URL d'origine</td>
            <td>Lien vers plus d’information (url d’origine, site du porteur d’aides)</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Attention à bien mettre https://.....</li>
                </ul>
            </td>
            <td>https://aides-territoires.beta.gouv.fr/</td>
        </tr>
        <tr>
            <td>W</td>
            <td>Lien vers une démarche en ligne</td>
            <td>Lien vers une démarche en ligne pour candidater</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Attention à bien mettre https://.....</li>
                </ul>
            </td>
            <td>https://aides-territoires.beta.gouv.fr/</td>
        </tr>
        <tr>
            <td>X</td>
            <td>Contact</td>
            <td>Contact pour candidater</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Les sauts de lignes sont convservés</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Y</td>
            <td>Auteur</td>
            <td></td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Email de l'auteur, doit être membre d'Aides-Territoires</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Z</td>
            <td>Url d'origine de la donnée importée</td>
            <td></td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Attention à bien mettre https://.....</li>
                </ul>
            </td>
            <td>https://aides-territoires.beta.gouv.fr/</td>
        </tr>
        <tr>
            <td>AA</td>
            <td>Identifiant structure</td>
            <td>L'identifiant de la structure pour laquelle vous publiez cette aide</td>
            <td>
                <ul>
                    <li>Requis</li>
                    <li>Doit être un nombre</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>AB</td>
            <td>Projets référents</td>
            <td>Les projets référents liés à votre aide</td>
            <td>
                <ul>
                    <li>Optionnel</li>
                    <li>Doit être le nom exact du projet référent.</li>
                    <li>Plusieurs projets référents peuvent être séparés par des virgules</li>
                </ul>
            </td>
            <td>Acquisition de véhicule décarboné, Construction d’une école</td>
        </tr>
    </tbody>
</table>