{% if shouldShowTestVersion() %}
<div class="fr-alert fr-alert--info fr-my-3w">
    <p>
        <strong>Nos algorithmes travaillent pour identifier les aides pertinentes pour votre projet. Cela peut prendre 1 ou 2 minutes.</strong>
    </p>
</div>
{% endif %}