<div class="fr-alert fr-alert--info fr-mb-3w">
    <h3 class="fr-alert__title">Nouvelle fonctionnalité</h3>
    <p>Vous pouvez désormais ajouter des aides à vos favoris pour les retrouver facilement dans <a href="{{ path('app_user_aid_favorites') }}">votre espace personnel</a>. 
    {% if not app.user %}
        <a href="{{ path('app_login') }}" class="fr-link">Connectez-vous</a> pour en profiter !
    {% endif %}
    </p>
</div>