<div class="fr-header__brand fr-enlarge-link">
    <div class="fr-header__brand-top">
        <div class="fr-header__logo">
            <p class="fr-logo">
                République
                <br>Française
            </p>
        </div>
        <div class="fr-header__operator">
            <a href="{{ path('app_home') }}" title="Accueil Aides-territoires">
                <img src="{{ asset('build/images/logo/logo_AT_courbes_header.webp') }}" class="fr-responsive-img light-mode" width="144" height="86" alt="Aides-territoires" />
                <img src="{{ asset('build/images/logo/logo_AT_courbes_dark_mode.webp') }}" class="fr-responsive-img dark-mode" width="144" height="86" alt="Aides-territoires" />
            </a>
        </div>
        <div class="fr-header__navbar">
            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-menu-mobile" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile" data-fr-js-modal-button="true">
                Menu
            </button>
        </div>
    </div>
</div>