{% extends "@EasyAdmin/page/content.html.twig" %}

{% block head_stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('import-scss/admin/admin') }}
{% endblock head_stylesheets %}

{% block head_javascript %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin/admin') }}
{% endblock head_javascript %}

{% block main %}
	<main>
		{% block breadcrumb %}
			{% include('include/_breadcrumb.html.twig') %}
		{% endblock %}

		{% block stats_content %}{% endblock stats_content %}
	</main>
{% endblock %}
