{% extends 'base.html.twig' %}

{% block title %}Mon nouveau mot de passe | {{ parent() }}{% endblock %}

{% block body %}
<div class="fr-container fr-my-5w">
    <div class="fr-grid-row fr-grid-row--center">

        <div class="fr-col-md-9">
            <h1 class="fr-h3">Mon nouveau mot de passe</h1>

            <div class="fr-alert fr-alert--info fr-alert--sm fr-mb-5w">
                <p>
                    Vous pouvez mettre à jour votre mot de passe ci-dessous.
                </p>
            </div>

            <p>Les champs marqués d’un astérisque (*) sont obligatoires.</p>

            {{ form_start(resetForm, {'attr': {'class': 'fr-mt-5w'}}) }}
                {{ form_row(resetForm.plainPassword) }}
                <button type="submit" class="fr-btn">Demander un nouveau mot de passe</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
</div>
{% endblock %}
