@import 'trumbowyg/dist/ui/trumbowyg.min.css';
@import 'remixicon/fonts/remixicon.css';
@import '../../_variables';
@import '../../_mixins';
@import '../../form/tom-select-override';
@import '../../form/entity-checkbox-absolute-type';
@import '../../form/trumbowyg-override';
@import '../../form/label';
@import '../../form/legend';

.link-to-visit{
    text-align: right;
}
.btn-delete-collection-generic{
    border-color: #e1000f!important;
    color: #e1000f;
}

.collection-item-wrapper-generic{
    padding: 0 0 2rem 5rem;
    border-bottom: 1px solid #ccc;
    >div{
        >div:last-child{
            text-align: right;
        }
    }
}