{% extends 'base.html.twig' %}

{% block meta_title %}Le site est en maintenance | {{ parent() }}{% endblock %}
{% block meta_description %}Le site est en maintenance.{% endblock %}


{% block body %}
<main>
	<div id="main-content" class="main-content">
		<div class="fr-container fr-mb-5w fr-pb-5w">
			<div class="fr-grid-row fr-grid-row--center">
				<div class="fr-col-md-9">

					<h1>Le site est en maintenance</h1>

					<div class="fr-alert fr-alert--error fr-alert--sm fr-mb-2w fr-mt-5w">
						<p>
							<strong>
								Le site est actuellement indisponible pour cause de maintenance, nous revenons au plus vite avec une version améliorée
								<br />Merci de votre compréhension
							</strong>
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>
{% endblock %}
